<br>
<div class="text-center well">
  <div class="span9">
    <h1>My Wishlists</h1>
      <% if policy(List.new).create?%>
      <%= link_to "New Wishlist", new_list_path, class: 'btn btn-success btn-sm' %>
      <% end %>
  </div>
</div>
<br>

<% @lists.each do |list| %>
  <div class="row text-center">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item">
          <h4><%= link_to list.name, list %></h4>
          <small><%= list.description %></small><br>
          <small><%= list.wishes.count %> Wishes</small>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <div class="row">
      </div>
    </div>
  </div>
<% end %>

<div class="row" ng-controller="ListsCtrl">
  <div class="row">
        <div class="col-md-4">
          <input type="text" id="search" class="form-control" ng-model="search" placeholder="Type search phrase here..." />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>Message: {{message}}</h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="col-md-3">Name</th>
                <th class="col-md-4">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="list in lists | filter : search">
                <td>{{list.name}}</td>
                <td>{{list.description}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
