

<%= form_tag "/searches", method: :post, class: "form-inline", remote: true do %>
  <div class="">
  <p>Search for Wunschlists by Name and Users by Username, Full name, City and/or Email Address. </p>
  <span class="glyphicon glyphicon-search"></span>
  <%= text_field_tag "search_query", "", placeholder: "Search..", class: "js-autocomplete form-control" %>
  </div>
  <div id="results"></div>
<% end %>
